<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvpao.qingxing.mapper.StudentsMapper">
    
    <resultMap type="com.lvpao.qingxing.domain.Students" id="StudentsResult">
        <result property="id"    column="id"    />
        <result property="studentNumber"    column="student_number"    />
        <result property="name"    column="name"    />
        <result property="gender"    column="gender"    />
        <result property="age"    column="age"    />
        <result property="classId"    column="class_id"    />
        <result property="origin"    column="origin"    />
    </resultMap>

    <sql id="selectStudentsVo">
        select id, student_number, name, gender, age, class_id, origin from students
    </sql>

    <select id="selectStudentsList" parameterType="com.lvpao.qingxing.domain.Students" resultMap="StudentsResult">
        <include refid="selectStudentsVo"/>
        <where>  
            <if test="studentNumber != null "> and student_number = #{studentNumber}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="gender != null  and gender != ''"> and gender = #{gender}</if>
            <if test="age != null "> and age = #{age}</if>
            <if test="classId != null "> and class_id = #{classId}</if>
            <if test="origin != null  and origin != ''"> and origin = #{origin}</if>
        </where>
    </select>
    
    <select id="selectStudentsById" parameterType="Long" resultMap="StudentsResult">
        <include refid="selectStudentsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertStudents" parameterType="com.lvpao.qingxing.domain.Students" useGeneratedKeys="true" keyProperty="id">
        insert into students
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentNumber != null">student_number,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="gender != null">gender,</if>
            <if test="age != null">age,</if>
            <if test="classId != null">class_id,</if>
            <if test="origin != null">origin,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentNumber != null">#{studentNumber},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="gender != null">#{gender},</if>
            <if test="age != null">#{age},</if>
            <if test="classId != null">#{classId},</if>
            <if test="origin != null">#{origin},</if>
         </trim>
    </insert>

    <update id="updateStudents" parameterType="com.lvpao.qingxing.domain.Students">
        update students
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentNumber != null">student_number = #{studentNumber},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="age != null">age = #{age},</if>
            <if test="classId != null">class_id = #{classId},</if>
            <if test="origin != null">origin = #{origin},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStudentsById" parameterType="Long">
        delete from students where id = #{id}
    </delete>

    <delete id="deleteStudentsByIds" parameterType="String">
        delete from students where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>